body {
    font-family: 'Montserrat', 'sans-serif';
}
h1 {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 900;
    color: #ffffff;
}
h2 {
    font-family: 'Montserrat';
    font-size: 2.2rem;
    font-weight: 800;  
}
h3 {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
}
p {
    color: #8f8f8f;
}
.title {
    background-color: #ff4c68;
    padding: 3% 15% 8% 15%;
    

}

/* Navigation Bar */
.navbar {
    padding-bottom: 8%;
}
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
}
.nav-item {
    padding: 0 3%;
}

/* Top Section */
.dl-btn {
    margin: 5% 3% 5% 0;
}
.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

/* Features Section */
.features {
    background-color: #ffffff;
    width: 100%;
    padding: 5% 4% 7% 4%;
    text-align: center;
    position: relative;
    z-index: 1;
}
.features-logo {
    /* color: #ef8172; */
    color: #dcdcdc;
    transition: 200ms;
    margin: 15% 0 4% 0;   
}
.features-logo:hover {
    color: #ff4c68;
}


/* Testimonials Section */
.testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: #ffffff;
}
.testimonials-img {
    width: 6%;
    border-radius: 100%;
    margin: 2% 0 2% 2%;
}
.img-text-slicer {
    font-size: 1rem;
}
.carousel {
    padding: 7% 15%;
}

/* Press Section */
.press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}